
@media(max-width: 750px){
    .header__navigate{
      display: none;
    }
    .header__burger
    {
      width: 18px;
      height: 11px;
      display: block;
  }
  }
  
  @media (max-width:700px){
    .work__job-list{
      flex-direction: column;
      width: 100%;
      max-width: none;
    }
    .work__job-item{
      margin-right: 0;
    }
  }